<h1>Lists</h1>
<% @lists.each do |list| %>
  <div>
  <p><%= link_to list.listname, list_path(@list) %>
  </div>
<% end %>"
<%= link_to "Add a new list", new_board_list_path, class: "waves-effect waves-light btn-small" %>